# Global reviewers
* @orozery @liran @nilig @michalmalka @yankay @liu-cong @hyeongyun0916 @sagearc

# Global owners for the entire repo
* @vMaroon @dannyharnik @elevran @kfirtoledo

# Package specific codeowners, including global owners
/preprocessing @guygir
/services/uds_tokenizer @delavet @osswangxining
