name: Run Examples Test

on:
  pull_request:
    branches:
      - main

jobs:
  run-examples:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Cache system (apt) dependencies
        uses: actions/cache@v4
        with:
          path: apt-archives
          key: ${{ runner.os }}-apt-${{ hashFiles('**/.github/workflows/ci-examples.yaml') }}
          restore-keys: |
            ${{ runner.os }}-apt-

      - name: Install system dependencies
        run: |
          mkdir -p apt-archives
          sudo cp -a apt-archives /var/cache/apt/archives # workaround for apt-get cache https://github.com/actions/cache/issues/324#issuecomment-1816908646
          sudo apt-get update
          sudo add-apt-repository ppa:deadsnakes/ppa -y
          sudo apt-get install -y libzmq3-dev pkg-config python3.12 python3.12-dev python3.12-venv clang-format
          cp -a /var/cache/apt/archives/*.deb apt-archives

      - name: Extract Go version from go.mod
        run: sed -En 's/^go (.*)$/GO_VERSION=\1/p' go.mod >> $GITHUB_ENV

      - name: Set up Go with cache
        uses: actions/setup-go@v5
        with:
          go-version: "${{ env.GO_VERSION }}"
          cache-dependency-path: ./go.sum

      - name: Download Go dependencies
        run: go mod download

      - name: Cache Python (pip) dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            build/venv
          # This key is based ONLY on the requirements file
          key: ${{ runner.os }}-pip-${{ hashFiles('**/.github/workflows/ci-examples.yaml') }}-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      #  Set up the Python virtual environment (includes Python config verification)
      - name: Run setup-venv
        run: make setup-venv

      - name: Install Python dependencies
        run: make install-python-deps

      - name: Make verify-examples.sh executable
        run: chmod +x hack/verify-examples.sh

      - name: Run verify-examples.sh
        run: ./hack/verify-examples.sh
