name: CI - PR Checks

on:
  pull_request:
    branches:
      - main
      - dev

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Cache system (apt) dependencies
        uses: actions/cache@v4
        with:
          path: apt-archives
          key: ${{ runner.os }}-apt-${{ hashFiles('**/.github/workflows/ci-pr-checks.yaml') }}
          restore-keys: |
            ${{ runner.os }}-apt-

      - name: Install system dependencies
        run: |
          mkdir -p apt-archives
          sudo cp -a apt-archives /var/cache/apt/archives # workaround for apt-get cache https://github.com/actions/cache/issues/324#issuecomment-1816908646
          sudo apt-get update
          sudo add-apt-repository ppa:deadsnakes/ppa -y
          sudo apt-get install -y libzmq3-dev pkg-config python3.12 python3.12-dev python3.12-venv clang-format
          cp -a /var/cache/apt/archives/*.deb apt-archives

      - name: Sanity check repo contents
        run: ls -la

      - name: Extract Go version from go.mod
        run: sed -En 's/^go (.*)$/GO_VERSION=\1/p' go.mod >> $GITHUB_ENV

      - name: Set up Go with cache
        uses: actions/setup-go@v5
        with:
          go-version: "${{ env.GO_VERSION }}"
          cache-dependency-path: ./go.sum

      - name: Install dependencies
        run: go mod download

      - name: Cache Python (pip) dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            build/venv
          # This key is based ONLY on the requirements file
          key: ${{ runner.os }}-pip-${{ hashFiles('**/.github/workflows/ci-pr-checks.yaml') }}-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      #  Set up the Python virtual environment (includes Python config verification)
      - name: Run setup-venv
        run: make setup-venv

      - name: Install golangci-lint without running it
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.1.6
          args: "--help"

      - name: Run precommit checks with CGo environment
        run: |
          # Export the CGO flags required for the linter to parse CGo files.
          # This duplicates some logic from the Makefile but is necessary for the CI step.
          export CGO_CFLAGS="$(python3.12-config --cflags) -I./lib"
          export CGO_LDFLAGS="$(python3.12-config --ldflags --embed) -L./lib -ltokenizers -ldl -lm"
          export CGO_ENABLED=1

          # Now run the linting command from the Makefile
          make precommit

      - name: Run C/C++/CUDA formatting check
        run: make clang
      - name: Run make build
        shell: bash
        run: |
          sudo make build

      - name: Run make test
        shell: bash
        run: |
          sudo PATH="/root/.local/bin:$PATH" make test
